@page
@model BackendLab01.Pages.Quiz.RazorPageModel
@{
}

<H3>@ViewData["Wszystkie Quizzy"]</H3>

<div>
    @foreach (var item in Model.listaQuizzów)
    {
                <h4>@item.Title</h4>
                //how to add link to quiz?
                <button>
                    <a asp-page="/Quiz/Item" asp-route-itemId="@item.Id" asp-route-quizId="@item.Id">Quiz</a>
                </button>
                
    }
</div>