@page "{quizId}"
@model BackendLab01.Pages.Summary
@{
    ViewData["Title"] = "summary";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<H3>@ViewData["Title"]</H3>

<div>
    @foreach(var item in Model.listaOdpowiedziUsera)
    {
        <div>
            <h4>@item.QuizItem.Id</h4>
            <p>Twoja odpowiedź: @item.Answer</p>
            <p>Poprawna odpowiedź: @item.QuizItem.CorrectAnswer</p> <!-- tamto pisze tylko prawda albo fałsz -->
        </div>
    })
</div>